body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.notification{
    width: 50px;
    margin: 100px auto;
    animation: ring 4s 0.7s ease-in-out infinite,
    transform-origin 50% 4px; 
}
.notification .count{
    --size: 30px
    font-size 12px;
    font-weight: bolder;
    background-color: red;
    color: white;
    border: solid 2px white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    max-width:var(--size);
    max-height:var(--size);
    box-sizing:border-box;
    position:relative;
    border-radius: 50%;
    top:20px;
    left:20px;
}
@keyframes ring {
    0%{
        transformrm: rotate(0deg);
    }
    1%{
        transformrm: rotate(30deg);
    }
    3%{
        transformrm: rotate(-30deg);
    }
    5%{
        transformrm: rotate(34deg);
    }
    7%{
        transformrm: rotate(-32deg);
    }
    9%{
        transformrm: rotate(30deg);
    }
    11%{
        transformrm: rotate(-28deg);
    }
    13%{
        transformrm: rotate(26deg);
    }
    15%{
        transformrm: rotate(-24deg);
    }
    17%{
        transformrm: rotate(22deg);
    }
    19%{
        transformrm: rotate(-20deg);
    }
    21%{
        transformrm: rotate(18deg);
    }
    23%{
        transformrm: rotate(-16deg);
    }
    19%{
        transformrm: rotate(-20deg);
    }
    25%{
        transformrm: rotate(14deg);
    }
    27%{
        transformrm: rotate(-12deg);
    }
    29%{
        transformrm: rotate(10deg);
    }
    31%{
    transformrm: rotate(-8deg);
    }
    33%{
    transformrm: rotate(6deg);
    }
    35%{
    transformrm: rotate(-4deg);
    }
    37%{
    transformrm: rotate(2deg);
    }
    39%{
    transformrm: rotate(-1deg);
    }
    41%{
    transformrm: rotate(1deg);
    }
    43%{
    transformrm: rotate(0deg);
    }
    100%{
    transformrm: rotate(0deg);
    }
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.collapsed{
    display: none;
}
  
nav{
    background-color: black;
    color: whitesmoke;
    width: 100%;
}
nav .mobile{
    display: none;
    /*hola */
}
nav .mobile .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    /*hola */
}
nav .mobile .header .more button{
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
}


nav .logo { 
    min-width: 250px;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover{
    color: black;
    background-color:chartreuse;
}

nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    pad: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
}
nav .desktop .secondary.mini{
    display: none;
}

@media screen and (max-width: 853px) {
    nav .logo{
        min-width: 100px;
    }
    nav .secondary.full{
        display: none;
    }
    nav .secondary.mini{
        display: block !important;
    }
    nav .secondary.mini .submenu{
        background-color: black;
        position: absolute;
        display: none;
        width: 200px;
        right: 0;
    }
    nav .secondary.mini:hover ~ .submenu{
        display: block;
    }
}

@media screen and (max-width:500px) {
    nav .desktop{
        display:none;
    }
    nav .mobile{
        display:block;
    }
}